.stream {
    cursor: pointer;
    position: relative;
    color: #fff;
    text-decoration: none;
    display: block;
    line-height: 0; }
.stream span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: block;
    width: 100%;
    line-height: 60px; }
.new-stream span {
    top: 1px;
    left: 1px;
}