@import "~font-awesome/css/font-awesome.css";
@import "css/photon.css";

.window {
    background-color: #232C39;
    color: #ededed; }

.sidebar {
    background: #000000;
    color: white;
    font-size: 3em;
    text-align: center; }
.sidebar img {
    max-width: 100%; }


.pane {
    border-left-color: #2d2c2c; }
.pane h1 {
    margin-top: 0; }
