.window {
    background: #0c0b42;
    color: #ededed;
}
.sidebar {
    background: #000000;
    color: white;
    font-size: 3em;
}
.pane {
    border-left-color: #2d2c2c;

    h1 {
        margin-top: 0;
    }
}